header {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    h1 {
        margin-left: 10rem;
        color: white;
        font-size: 6.4rem;
        font-weight: 400;
        background-color: #003b4a;
        border-radius: 0 0 3rem 3rem;
        padding: 0.2rem 10.3rem;
        z-index: 999;
        position: absolute;
        top: 0;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        width: 125px;
        height: 125px;
        background: #003b4a;
        border-radius: 0 0 0 125px;
        z-index: 999;
        margin-left: auto;

        svg {
            transform: translateY(2.5rem) translateX(1rem);
        }
    }
}
