.sidebar {
    background-color: #30b38c;
    width: 20%;
    border-radius: 3rem;
    text-align: center;
    h2 {
        font-size: 3.6rem;
        color: #003b4a;
        padding: 1.5rem 0rem;
        font-weight: 300;
    }

    .sidebar-element {
        position: relative;
        &::after {
            width: 75%;
            height: 1px;
            background-color: #003b4a;
            position: absolute;
            bottom: 0;
            content: "";
            text-align: center;
            left: -25%;
            transform: translateX(50%);
        }
    }
}

.sidebar-text {
    background-color: #afe3d3;
    height: 50%;
    font-size: 2.1rem;
    color: #1b365c;
    padding: 1rem;
    font-family: "Carme", sans-serif;
    text-align: left;
}

.playerinfo {
    p {
        font-size: 3rem;
        font-family: "Inconsolata", monospace;
    }
}

.trees,
.leaf {
    margin: 1.8rem;
    display: flex;
    align-items: center;

    p {
        color: #003b4a;
        font-weight: 300;
        margin-left: 3rem;
    }
}

.player-name {
    color: #003b4a;
    font-weight: 300;
    padding-bottom: 1.5rem;
}
