.sidebar {
    width: auto;
    height: auto;
    z-index: 999;
    position: absolute;
    bottom: 2rem;
    right: 4rem;

    .gamelog {
        margin-top: 1.5rem;
    }
}

.trees,
.leaf {
    margin: 1.8rem;
    display: flex;
    align-items: center;

    p {
        color: #003b4a;
        font-weight: 300;
        margin-left: 3rem;
    }
}

.player-name {
    color: #003b4a;
    font-weight: 300;
    padding-bottom: 1.5rem;
}
