@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

* body {
  background-color: #003b4a;
  font-family: "Inconsolata", monospace;
}

* body header {
  height: 13.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header h1 {
  color: white;
  font-size: 6.4rem;
  font-weight: 400;
}

* body header .logo {
  height: 13.3rem;
  width: auto;
}

* body header .logo img {
  height: 100%;
  width: auto;
}

* body header .links {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-right: 1rem;
}

* body header .links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body header .links nav ul li {
  list-style: none;
  margin-left: 1.5rem;
}

* body header .links nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.147rem;
}

* body header .links .menu {
  width: 5rem;
  height: 7rem;
  margin-top: -1.5rem;
}

* body header .links .menu img {
  width: 100%;
  height: 100%;
}

* body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.3rem;
}

* body main .map-liege {
  position: relative;
}

* body main .map-layout {
  width: 75vw;
  height: 84vh;
  border-radius: 50px;
}

* body main .sidebar {
  background-color: #30b38c;
  width: 20%;
  border-radius: 3rem;
  text-align: center;
}

* body main .sidebar h2 {
  font-size: 3.6rem;
  color: #003b4a;
  padding: 1.5rem 0rem;
  font-weight: 300;
}

* body main .sidebar .sidebar-element {
  position: relative;
}

* body main .sidebar .sidebar-element::after {
  width: 75%;
  height: 1px;
  background-color: #003b4a;
  position: absolute;
  bottom: 0;
  content: "";
  text-align: center;
  left: -25%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

* body main .sidebar-text {
  background-color: #afe3d3;
  height: 50%;
  font-size: 2.1rem;
  color: #1b365c;
  padding: 1rem;
  font-family: "Carme", sans-serif;
  text-align: left;
}

* body main .playerinfo p {
  font-size: 3rem;
  font-family: "Inconsolata", monospace;
}

* body main .trees,
* body main .leaf {
  margin: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main .trees p,
* body main .leaf p {
  color: #003b4a;
  font-weight: 300;
  margin-left: 3rem;
}

* body main .player-name {
  color: #003b4a;
  font-weight: 300;
  padding-bottom: 1.5rem;
}
/*# sourceMappingURL=style.css.map */