@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;

    body {
        background-color: #003b4a;
        font-family: "Inconsolata", monospace;
        position: relative;
        overflow: hidden;
        @import "partials/header";

        main {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @import "partials/map";
            @import "partials/sidebar";
            @import "partials/statbar";
        }
    }
}
